In [2]:
import sqlite3
conn = sqlite3.connect("nominations.db")

In [3]:
table_query = "pragma table_info(nominations)"
schema = conn.execute(table_query).fetchall()

In [4]:
first_query = "select * from nominations limit 10"
first_ten = conn.execute(first_query).fetchall()

In [5]:
[t for t in schema]

[(0, 'id', 'integer', 0, None, 1),
 (1, 'category', 'text', 0, None, 0),
 (2, 'nominee', 'text', 0, None, 0),
 (3, 'movie', 'text', 0, None, 0),
 (4, 'character', 'text', 0, None, 0),
 (5, 'won', 'text', 0, None, 0),
 (6, 'ceremony_id', 'int', 0, None, 0)]

In [6]:
for row in first_ten:
    print(row)

(1, 'Actor -- Leading Role', 'Javier Bardem', 'Biutiful', 'Uxbal', '0', 1)
(2, 'Actor -- Leading Role', 'Jeff Bridges', 'True Grit', 'Rooster Cogburn', '0', 1)
(3, 'Actor -- Leading Role', 'Jesse Eisenberg', 'The Social Network', 'Mark Zuckerberg', '0', 1)
(4, 'Actor -- Leading Role', 'Colin Firth', "The King's Speech", 'King George VI', '1', 1)
(5, 'Actor -- Leading Role', 'James Franco', '127 Hours', 'Aron Ralston', '0', 1)
(6, 'Actor -- Supporting Role', 'Christian Bale', 'The Fighter', 'Dicky Eklund', '1', 1)
(7, 'Actor -- Supporting Role', 'John Hawkes', "Winter's Bone", 'Teardrop', '0', 1)
(8, 'Actor -- Supporting Role', 'Jeremy Renner', 'The Town', 'James Coughlin', '0', 1)
(9, 'Actor -- Supporting Role', 'Mark Ruffalo', 'The Kids Are All Right', 'Paul', '0', 1)
(10, 'Actor -- Supporting Role', 'Geoffrey Rush', "The King's Speech", 'Lionel Logue', '0', 1)

In [7]:
cer_query = "CREATE TABLE ceremonies(id integer PRIMARY KEY, Year integer, Host text);"
conn.execute(cer_query)

OperationalError: table ceremonies already exists

In [ ]:
years_hosts = [(2010, "Steve Martin"),
               (2009, "Hugh Jackman"),
               (2008, "Jon Stewart"),
               (2007, "Ellen DeGeneres"),
               (2006, "Jon Stewart"),
               (2005, "Chris Rock"),
               (2004, "Billy Crystal"),
               (2003, "Steve Martin"),
               (2002, "Whoopi Goldberg"),
               (2001, "Steve Martin"),
               (2000, "Billy Crystal"),
            ]

In [ ]:
insert_query = "INSERT INTO ceremonies (Year, Host) VALUES (?,?);"

conn.executemany(insert_query, years_hosts)

In [ ]:
q_head = "SELECT * FROM ceremonies LIMIT 10;"
q_schema = "PRAGMA table_info(ceremonies);"
r_head = conn.execute(q_head).fetchall()
r_schema = conn.execute(q_schema).fetchall()

In [ ]:
[t for t in r_schema]

In [ ]:
for row in r_head:
    print(row)

In [ ]:
conn.execute("PRAGMA foreign_keys = ON;")

In [ ]:
conn.execute("CREATE TABLE nominations_two(id integer PRIMARY KEY, category text, nominee text, movie text, character text, won text, ceremony_id int, FOREIGN KEY(ceremony_id) REFERENCES ceremonies(id));")

In [ ]:
nom_query = '''SELECT nominations.category, nominations.nominee, nominations.movie, nominations.character, nominations.won, ceremonies.id
FROM nominations
INNER JOIN ceremonies ON
nominations.year == ceremonies.year
;'''

joined_nominations = conn.execute(nom_query).fetchall()

In [ ]:
insert_nominations_two = "INSERT INTO nominations_two (category, nominee, movie, character, won, ceremony_id) VALUES (?, ?, ?, ?, ?, ?);"

In [ ]:
conn.executemany(insert_nominations_two, joined_nominations)

In [ ]:
noms_two = conn.execute("SELECT * FROM nominations_two LIMIT 5;").fetchall()
for nom in noms_two:
    print(nom)

In [ ]:
conn.execute("DROP TABLE nominations")

In [ ]:
conn.execute("ALTER TABLE nominations_two RENAME TO nominations;")

In [ ]:
conn.execute("CREATE TABLE movies(id integer PRIMARY KEY, movie text);")

In [ ]:
conn.execute("CREATE TABLE actors(id integer PRIMARY KEY, actor text);")

In [ ]:
conn.execute('''CREATE TABLE movies_actors (
id INTEGER PRIMARY KEY,
movie_id INTEGER REFERENCES movies(id), 
actor_id INTEGER REFERENCES actors(id)
);''')

In [8]:
import sqlite3
conn = sqlite3.connect("nominations.db")

In [10]:
q_movies = "SELECT movie FROM nominations;"
result_movies = conn.execute(q_movies).fetchall()
q_insert_mov = "INSERT INTO movies (movie) VALUES (?);"
conn.executemany(q_insert_mov, result_movies)
test_movies = conn.execute("SELECT * FROM movies LIMIT 5;").fetchall()
for mov in test_movies:
    print(mov)

(1, 'Biutiful')
(2, 'True Grit')
(3, 'The Social Network')
(4, "The King's Speech")
(5, '127 Hours')

In [12]:
q_actor = "SELECT nominee FROM nominations;"
result_actor = conn.execute(q_actor).fetchall()
q_insert_act = "INSERT INTO actors (actor) VALUES (?);"
conn.executemany(q_insert_act, result_actor)
test_actors = conn.execute("SELECT * FROM actors LIMIT 5;")
for act in test_actors:
    print(act)

(1, 'Javier Bardem')
(2, 'Jeff Bridges')
(3, 'Jesse Eisenberg')
(4, 'Colin Firth')
(5, 'James Franco')

In [13]:
q_mov_id = "SELECT id FROM movies;"
result_mov_id = conn.execute(q_mov_id).fetchall()
q_insert_mov_id = "INSERT INTO movies_actors (movie_id) VALUES (?);"
conn.executemany(q_insert_mov_id, result_mov_id)
test_mov_id = conn.execute("SELECT movie_id FROM movies_actors LIMIT 5;").fetchall()
for mov_id in test_mov_id:
    print(mov_id)

(1,)
(2,)
(3,)
(4,)
(5,)

In [16]:
q_act_id = "SELECT id FROM actors;"
result_act_id = conn.execute(q_act_id).fetchall()
q_insert_act_id = "INSERT INTO movies_actors (actor_id) VALUES (?);"
conn.executemany(q_insert_act_id, result_act_id)
test_act_id = conn.execute("SELECT actor_id FROM movies_actors LIMIT 5;").fetchall()
for act_id in test_act_id:
    print(act_id)

(None,)
(None,)
(None,)
(None,)
(None,)